version: '3.8'

services:
  app:
    build: .
    container_name: estudiantes_api
    ports:
      - "3033:3033"
    environment:
      - MONGO_URL=mongodb://mongo:27017/estudiantesdb
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
